@font-face {
    font-family: 'dejavu_sansbook';
    src: url('dejavusans-webfont.woff2') format('woff2'),
         url('dejavusans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}